.loaderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333333;
}

.title {
  color: white;
  margin-bottom: 10px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #6f4e37;
  width: 113px;
  height: 113px;
  animation: spin 2s linear infinite;
  z-index: 2;
  margin-bottom: 7px;
}

.image {
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.subtitle {
  color: white;
  margin-top: 10px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
